<ion-header>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >{{titlePage}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="selectedUser">
    <p>{{ selectedUser.first_name }}  {{ selectedUser.last_name }}</p>
  </ion-item>
</ion-content>
