.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  
.flex > div {
  margin: 0 1rem 1rem 1rem;
  text-align: center;
}
  
img {
  display: inline-block;
  max-width: 100%;
}

