<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reqres.in API methods</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="bg-generic">
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <div class="flex">
    <div *ngFor="let user of listUsers | filter:filterTerm" >
      <ion-card>
        <ion-card-content>
          <img src={{user.avatar}}>
          <ion-card-header>
            <ion-card-title> {{user.first_name}} {{user.last_name}}</ion-card-title>
            <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-button fill="solid" (click)="viewDetail(user.id)" >Detail</ion-button>
            <ion-button fill="solid" (click)="updateThisUser(user.id)" >Update</ion-button>
            <ion-button fill="solid" color="danger"(click)="deleteThisUser(user.id)" >Delete</ion-button>
            <ion-icon *ngIf="!checkFavorite(user.id)"  name="heart-outline" (click)="markFavorite(user)"></ion-icon>
            <ion-icon *ngIf="checkFavorite(user.id)"  name="heart" (click)="unmarkFavorite(user)" color="danger"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

