<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login user</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <form id="login_form" >

    <div class="container"  >
      <h1>Login toReqres.in</h1>
      <p> Note: Only defined users</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <div>
        <select class="email-select" [formControl]="selectControl">
          <option value={{user.email}} *ngFor="let user of users_login" > {{user.email}}</option>
        </select>
    
      </div>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" required [(ngModel)]="login_password" [ngModelOptions]="{standalone: true}">

      <hr>
      <div>
        <button type="submit" class="loginButton green round" (click)="successfulLogin()">Register with success</button>
        <button type="submit" class="loginButton red round" (click)="failureLogin()">Register with a failure</button>
      </div>
    </div>
  </form>

</ion-content>
