<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >User update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="container">
      <h1>{{titlePage}}</h1>
      <p>Please fill this form to update this user</p>
      <hr>
      <!--
      <label for="email"><b>Email</b></label>
      <div>
        <select class="email-select" [formControl]="selectControl">
          <option value={{user.email}} *ngFor="let user of users_login" > {{user.email}}</option>
        </select>
    
      </div> 
      -->


      
      <!--
      <label for="name_update"><b>Name Update</b></label>
      <input type="text" placeholder="new name" required [(ngModel)]="update_name" [ngModelOptions]="{standalone: true}"> 
      -->
      <ion-item>
        <ion-label position="floating">Name update</ion-label>
        <ion-input type="text" [(ngModel)]="update_name"></ion-input>
      </ion-item>
      <!--  
      <label for="job_update"><b>Job Update</b></label>
      <input type="text" placeholder="job update" required [(ngModel)]="update_job" [ngModelOptions]="{standalone: true}">
      -->
      <ion-item>
        <ion-label position="floating">Job update</ion-label>
        <ion-input [(ngModel)]="update_job"></ion-input>
      </ion-item>

      <hr>
      <div>
        <ion-button (click)="sendPutData()">
          Update (PUT)
        </ion-button>
        <ion-button (click)="sendPatchData()">
          Update (PATCH)
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

