<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reqres.in Create user (POST)</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="bg-generic" >
  <div>
    <div class="container">
      <h1>Create new User</h1>
      <p>Please fill this form to create a new user</p>
      <hr>
      <!--
      <label for="name_create"><b>Name</b></label>
      <input type="text" placeholder="Name" required [(ngModel)]="create_name" [ngModelOptions]="{standalone: true}">
      --> 
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="create_name"></ion-input>
      </ion-item>
      <!--  
      <label for="job_create"><b>Job</b></label>
      <input type="text" placeholder="Job" required [(ngModel)]="create_job" [ngModelOptions]="{standalone: true}">
      --> 
      <ion-item>
        <ion-label position="floating">Job</ion-label>
        <ion-input [(ngModel)]="create_job"></ion-input>
      </ion-item>
      <hr>
      <div>
        <ion-button (click)="sendPostData()">
          Create user 
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

