<ion-app>
  
  <ion-menu auto-hide side="start" contentId="main" >
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Methods</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item  routerLink="/mainpage" (click)="closeMenu()">
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>List Users [GET]</ion-label>
        </ion-item>
        <ion-item  routerLink="/favorites" (click)="closeMenu()">
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>List Favorite Users </ion-label>
        </ion-item>
        <ion-item routerLink="/create-user" (click)="closeMenu()">
          <ion-icon name="person-add" slot="start" ></ion-icon>
          <ion-label>Create user [POST]</ion-label>
        </ion-item>
        <ion-item routerLink="/register-user" (click)="closeMenu()">
          <ion-icon name="arrow-forward-circle-outline" slot="start"></ion-icon>
          <ion-label>Register [POST]</ion-label>
        </ion-item>
        <ion-item routerLink="/login-page" (click)="closeMenu()">
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-label> Login [POST]</ion-label>
        </ion-item>
        <ion-item routerLink="/single-user" (click)="closeMenu()">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Detail user [GET]</ion-label>
        </ion-item>
        <ion-item routerLink="/update-user" (click)="closeMenu()">
          <ion-icon name="add" slot="start"></ion-icon>
          <ion-label> Update user [PUT/PATCH]</ion-label>
        </ion-item>
        <ion-item routerLink="/delete-user" (click)="closeMenu()">
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Delete user [DELETE]</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
