<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >{{titlePage}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  


  
<ion-content>
  <ion-item>
    <ion-button fill="solid" color="primary" routerLink="/mainpage"> Cancel </ion-button>
    <ion-button fill="solid" color="danger" (click)="deleteUser()"> Delete </ion-button>
  </ion-item>
</ion-content>
