<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorites </ion-title>
    <ion-button fill="solid" color="danger" slot="end" (click)=deleteAll()>Delete all favorites</ion-button>
    
  </ion-toolbar>
</ion-header>


<ion-content class="bg-generic">
  <div>
    <ion-list *ngFor="let item of storageItems">
      <ion-item>
        <ion-avatar>
          <img src="{{item.avatar}}">
        </ion-avatar>
        <ion-label>{{item.first_name}} {{item.last_name}}</ion-label>
        <ion-button fill="solid" color="primary" slot="end" (click)=userClicked(item.id)>Open detail</ion-button>
        <ion-button fill="outline" color="danger" slot="end" (click)=deleteFavorite(item.id)>Delete favorite</ion-button>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
