<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reqres.in Register user (POST)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="bg-generic"> 
  <form>
    <div class="container">
      <h1>Register into Reqres.in</h1>
      <p>Please fill in this form to create an account. (Note: Only defined users succeed registration)</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <div>
        <select class="email-select" [formControl]="selectControl">
          <option value={{user.email}} *ngFor="let user of users_login" > {{user.email}}</option>
        </select>
    
      </div>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" required [(ngModel)]="register_password1" [ngModelOptions]="{standalone: true}">

      <label for="psw"><b>Password confirm</b></label>
      <input type="password" placeholder="Enter Password" required [(ngModel)]="register_password2" [ngModelOptions]="{standalone: true}">

      <hr>
      <div>
        <button type="submit" class="loginButton green round" (click)="successfulRegister()">Register with success</button>
        <button type="submit" class="loginButton red round" (click)="failureRegister()">Register with a failure</button>
      </div>
    </div>
  </form>

</ion-content>
