.container{
  margin: auto;
  width: 75%;
  padding: 16px;
  background-color: white;
 
}


.email-select{
  background: #f1f1f1;
  border: none;
  padding: 15px;
  margin: 5px 0 22px 0;
  width:100%;
}


input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=password]:focus{
  background: #ddd;
}


.loginButton{
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  font-style:normal;
  font-size: large;
}

.red{
  background-color: #Eb445A;
}

.green{
  background-color: #04AA6D;
}

.round{
  border-radius: 8px;
}

.red:hover,.green:hover{
  opacity: 1;
}






